.form_group {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.label {
	font-size: 1.1rem;
}

.input {
	padding: 8px;
	font-size: 1rem;
	border-radius: 4px;
	outline: none;

	&:focus {
		outline: 1px solid var(--highlight);
		border-color: var(--highlight);
	}
}

.error {
	color: var(--accent-red);
}
