.spinner {
	border: 3px solid var(--highlight);
	animation: load 1s ease infinite;
	border-color: transparent var(--highlight);
	border-radius: 50%;
}

.small {
	width: 20px;
	height: 20px;
}

.middle {
	width: 60px;
	height: 60px;
	border: 4px solid var(--highlight);
	border-color: transparent var(--highlight);
}

@keyframes load {
	to {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}
