.wrapper {
	width: 100%;
	max-width: 800px;
	display: flex;
	justify-content: space-between;
}

.container_buttons {
	display: flex;
	gap: 4px;
}

.title {
	color: var(--text);
}

/* ######## MEDIA QUERIES ######## */

@media screen and (max-width: 768px) {
	.wrapper {
		flex-direction: column;
		text-align: center;
		gap: 20px;
	}
}
