.table {
	width: 100%;
	font-size: 1.2rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
}

.header {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.th,
.actions {
	padding: 8px 16px;
	background-color: var(--secondary);
}

.actions {
	margin-left: 20px;
	text-align: center;
}

.row {
	display: grid;
	grid-template-columns: 3fr 1fr;
	align-content: center;
	border-radius: 5px;
	transition: all 0.15s ease;
}

.row:hover .first_coll {
	border: 2px solid var(--highlight);
}

.first_coll {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	transition: all 0.15s ease;
	border: 2px solid transparent;
}

.td {
	padding: 8px 16px;
	background-color: var(--secondary);
}

.buttons {
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 10px;
}
