.header {
	width: calc(100% - 32px);
	max-width: 1200px;
	display: flex;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	background: var(--secondary);
	border-radius: 8px 8px;
	color: var(--white);
	position: fixed;
	z-index: 9999;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0px 3px 3px rgba(91, 91, 91, 0.1);
	/* flex-wrap: wrap; */
}

.link_logo {
	text-decoration: none;
	color: inherit;
	transition: all 0.15s ease;
	font-family: var(--roboto);

	&:hover {
		color: var(--highlight);
	}
}

.wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
}

.list,
.item {
	display: flex;
	font-size: 1.2rem;
	background-color: var(--tertiary);
	border-radius: 4px;
	overflow: hidden;
}

.link {
	color: inherit;
	text-decoration: none;
	padding: 9px 12px;
	transition: all 0.15s ease;

	&:hover {
		background-color: var(--highlight);
		color: black;
	}
}

.form {
	background-color: var(--tertiary);
	display: flex;
	align-items: center;
	border-radius: 4px;
	gap: 2px;
	padding: 2px 8px;
}

.input {
	background-color: transparent;
	padding: 8px;
	border-radius: 10px;
	border: none;
	font-size: 1.1rem;
	outline: none;
	color: var(--white);

	&::placeholder {
		color: var(--white);
	}
}

.icon {
	width: 32px;
	color: var(--white);
}

.themeButton {
	background-color: transparent;
	border: 1px solid var(--white);
	border-radius: 4px;
	padding: 2px 4px;
	transition: all 0.15s ease;
	cursor: pointer;

	&:hover {
		background-color: var(--highlight);
		color: black;
	}
}

.themeButton:hover .themeIcon {
	background-color: var(--highlight);
	color: black;
}

.themeIcon {
	transition: all 0.15s ease;
}

@media screen and (max-width: 768px) {
	.header {
		/* display: none; */
		flex-direction: column;
		gap: 16px;
		flex-wrap: wrap;
	}

	.logo {
		font-size: 1.6rem;
		text-align: center;
	}

	.wrapper {
		flex-direction: column;
		width: 100%;

		& > * {
			width: 100%;
		}
	}

	.item,
	.link {
		width: 100%;
		text-align: center;
	}

	.form {
		text-align: center;
	}
}
