.header {
	width: calc(100% - 32px);
	max-width: 1200px;
	display: flex;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	background: var(--secondary);
	border-radius: 8px 8px;
	color: var(--white);
	position: fixed;
	z-index: 9999;
	gap: 8px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0px 3px 3px rgba(91, 91, 91, 0.1);
}

.button_menu {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	color: var(--white);
	right: 4px;
	width: 40px;
	top: 4px;
	background-color: var(--black);
	border: none;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	box-shadow: 0px 1px 1px rgba(245, 245, 245, 0.2);
}

.hidden {
	display: none !important;
}

.link_logo {
	text-decoration: none;
	color: inherit;
	transition: all 0.15s ease;
	font-family: var(--roboto);
	text-align: left;

	&:hover {
		color: var(--highlight);
	}
}

.wrapper {
	align-items: center;
	gap: 8px;
	transition: all 0.12 ease;
	position: absolute;
	top: calc(100% + 10px);

	background: var(--secondary);
	padding: 10px;

	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: all 0.15s ease;
	pointer-events: none;
	z-index: 10;
}

.wrapper.active {
	display: flex;
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	pointer-events: auto;
}

.list,
.item {
	display: flex;
	font-size: 1.2rem;
	background-color: var(--tertiary);
	border-radius: 4px;
	overflow: hidden;
}

.link {
	color: inherit;
	text-decoration: none;
	padding: 9px 12px;
	transition: all 0.15s ease;

	&:hover {
		background-color: var(--highlight);
		color: black;
	}
}

.form {
	background-color: var(--tertiary);
	display: flex;
	align-items: center;
	border-radius: 4px;
	gap: 2px;
	padding: 2px 8px;
}

.input {
	background-color: transparent;
	padding: 8px;
	border-radius: 10px;
	border: none;
	font-size: 1.1rem;
	outline: none;
	color: var(--white);

	&::placeholder {
		color: var(--white);
	}
}

.icon {
	width: 32px;
	color: var(--white);
}

.themeButton {
	background-color: transparent;
	border: 1px solid var(--white);
	border-radius: 4px;
	padding: 2px 4px;
	transition: all 0.15s ease;
	cursor: pointer;

	&:hover {
		background-color: var(--highlight);
		color: black;
	}
}

.themeButton:hover .themeIcon {
	background-color: var(--highlight);
	color: black;
}

.themeIcon {
	transition: all 0.15s ease;
}

/* ######## MEDIA QUERIES ######## */

@media screen and (min-width: 769px) {
	.button_menu {
		display: none;
	}

	.wrapper {
		display: flex !important;

		position: static;
		opacity: 1 !important;
		visibility: visible !important;
		transform: none !important;
		pointer-events: auto !important;
		padding: 0;
		width: auto;
	}
}

@media screen and (max-width: 768px) {
	.header {
		flex-direction: column;
		gap: 16px;
		flex-wrap: wrap;
		padding: 15px;
	}

	.link_logo {
		width: 100%;
	}

	.logo {
		font-size: 1.4rem;
		text-align: left;
	}

	.wrapper {
		flex-direction: column;
		width: 100%;

		& > * {
			width: 100%;
		}
	}

	.item,
	.link {
		width: 100%;
		text-align: center;
	}

	.form {
		text-align: center;
	}

	.form .icon {
		display: none;
	}

	.input {
		width: 100%;
		&::placeholder {
			text-align: center;
		}
	}
}
