.table {
	width: 100%;
	font-size: 1.2rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 8px;
}

.header {
	display: grid;
	grid-template-columns: 1fr;
	overflow: hidden;
	font-weight: 700;
}

.header .th {
	padding: 12px 16px;
}

.header .first_coll {
	overflow: hidden;
}

.th,
.actions {
	padding: 8px 16px;
	background-color: var(--secondary);
}

.actions {
	text-align: center;
	border: 2px solid var(--primary);
}

.row {
	display: grid;
	grid-template-columns: 3fr 288px;
	align-content: center;
	transition: all 0.15s ease;
	gap: 20px;
	position: relative;
}

.body {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.body .row:hover .first_coll {
	border: 2px solid var(--highlight);
	position: relative;
}

.first_coll {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border: 2px solid var(--primary);
	position: relative;
}

.arrow {
	position: absolute;
	width: 30px;
	height: 30px;
	left: -36px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 99;
	color: var(--highlight);
	opacity: 0;
	visibility: hidden;
	transition: all 0.15s ease;
}

.body .row:hover .arrow {
	opacity: 1;
	visibility: visible;
}

.td {
	padding: 8px 16px;
	background-color: var(--secondary);
	display: flex;
	align-items: center;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	transition: all 0.15s ease;

	&:hover {
		border-left: 2px solid var(--highlight);
	}
}

.actions {
	display: none;
}

.row.active .actions {
	display: flex;
}

@media (min-width: 769px) {
	.actions {
		display: flex !important;
	}
}

@media screen and (max-width: 768px) {
	.body {
		gap: 30px;
	}

	.name {
		font-size: 1.25rem;
		font-weight: bold;
	}

	.header {
		display: none;
	}

	.row {
		grid-template-columns: 1fr;
		gap: 0px;
	}

	.arrow {
		display: none;
	}

	.first_coll {
		display: flex;
		flex-direction: column;
	}

	.buttons {
		& > button:first-of-type {
			order: 3;
		}
	}
}
