.list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px 10px;
	font-size: 1.2rem;
	background-color: var(--secondary);
	position: absolute;
	right: 0px;
	top: calc(100% + 5px);
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
	z-index: 9;
}

.item {
	padding: 5px;
	cursor: pointer;
	transition: all 0.15s ease;

	&:hover {
		background-color: var(--highlight);
		color: var(--primary);
	}
}

.active {
	background-color: var(--highlight);
	color: var(--primary);
}
