.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	max-width: 1200px;
	width: 100%;
}

.title {
	width: 100%;
	text-align: left;
}

.container_categories {
	display: flex;
	gap: 16px;
	width: 100%;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.middle_width {
	width: 100%;
	max-width: 800px;
}

.empty_list {
	color: var(--text);
}
