:root {
	--primary: #19191a;
	--secondary: #343135;
	--tertiary: #6b6b6b;
	--text: #fff;
	--white: #fff;
	--highlight: #00ff7f;
	--accent-blue: #0088ff;
	--accent-red: #ff383c;
	--button-hover: #343135;
  --black: #19191a;

	--roboto: "Roboto", Arial, Helvetica, sans-serif;
	--inter: "Inter", Arial, Helvetica, sans-serif;
}

[data-theme="dark"] {
	--primary: whitesmoke;
	--text: #19191a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: var(--primary);
	display: flex;
	justify-content: center;
  padding: 16px;
}

body {
	width: 100%;
	max-width: 1200px;
	min-height: 100vh;
	background-color: var(--primary);
	color: var(--white);
	font-family: var(--inter);
}

ul {
	list-style: none;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

a {
	color: inherit;
	text-decoration: none;
}
