.form {
	width: 100%;
	max-width: 800px;
	padding: 32px;
	background-color: var(--secondary);
	border-radius: 5px;
	gap: 20px;
	display: flex;
	flex-direction: column;
}

.wrapper {
	width: 100%;
	display: flex;
	gap: 24px;

	& > * {
		flex-grow: 1;
	}
}

/* ######## MEDIA QUERIES ######## */

@media screen and (max-width: 768px) {
	.form {
		padding: 24px 16px;
	}
}
