.header {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.intro {
	display: flex;
	justify-content: space-between;
}

.title {
	color: var(--text);
}

.container_buttons {
	display: flex;
	gap: 8px;
}

.container_badges {
	width: 100%;
	display: flex;
	gap: 10px;
}

.badge {
	padding: 25px;
	font-size: 1.2rem;
	text-align: center;
	background-color: var(--secondary);
	flex-grow: 1;
}

@media screen and (max-width: 768px) {
	.intro {
		flex-direction: column;
		gap: 10px;
	}

	.container_buttons {
		flex-direction: column;

		& > * {
			width: 100%;
			padding: 12px 20px;
		}
	}

	.container_badges {
		flex-direction: column;
	}
}
