.header {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.intro {
	display: flex;
	justify-content: space-between;
}

.title {
	color: var(--text);
}

.container_buttons {
	display: flex;
	gap: 8px;
	position: relative;
}

.container_badges {
	width: 100%;
	display: flex;
	gap: 10px;
}

.badge {
	padding: 25px;
	font-size: 1.2rem;
	text-align: center;
	background-color: var(--secondary);
	flex-grow: 1;
}

.container_filter {
	padding: 0px;

	& > * {
		padding: 12px;
	}
}

@media screen and (max-width: 768px) {
	.intro {
		flex-direction: column;
		gap: 10px;
	}

	.container_buttons {
		flex-direction: column;
	}

	.container_buttons > * {
		width: 100%;
		padding: 12px 20px;
	}

  .container_filter {
    padding: 0px;
    
    & > * {
      width: 100%;
      padding: 12px;
    }
  }

	.container_badges {
		flex-direction: column;
	}
}
